@media all and (min-width: 480px) {
  .CreateAccount {
    padding: 60px 0;
  }

  .CreateAccount form {
    margin: 0 auto;
    max-width: 380px;
  }
  .CreateAccount form p {
    margin-left: 0;
    text-align: left;
    max-width: 380px;
  }
}
